<nav>
  <ul class="{{include.navclass}}">
    <li>
      <a href="{{site.baseurl}}/index.html" class="{% if page.url == '/' %}active{% endif %}">Home</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/posts.html" class="{% if page.url == '/posts.html' %}active{% endif %}">Tutorials</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/soft-skills.html" class="{% if page.url == '/soft-skills.html' %}active{% endif %}">Soft Skills</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/resources.html" class="{% if page.url == '/resources.html' %}active{% endif %}">Resources</a>
    </li>
  </ul>
</nav>
